/* RESET */
h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

/* BODY */
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
}

/* CONTAINER */
.container {
  /* max-width: 1158px;
  padding: 0 15px; */
  margin: 0 auto;
  width: 100%;
  max-width: 320px;
  padding: 0 16px;
}

/* SECTION */
.section {
  padding: 96px 0;
}

/* LOGO */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo {
  margin-right: 76px;
}

.logo-part {
  color: #2e2f42;
}

.footer-logo .logo-part {
  color: #f4f4fd;
}

/* HEADER */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow:
    0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contacts {
  margin-left: auto;
}

.contacts-link:focus,
.contacts-link:hover {
  color: #404bbf;
}

.contacts-link {
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list,
.contacts-list {
  display: flex;
  gap: 40px;
}

.contacts-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.header-list,
.contacts {
  display: none;
}

.header-link {
  display: block;
  padding: 24px 0;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-size: 16px;
}

.header-link.current {
  position: relative;
}

.header-link:hover,
.header-link:focus,
.header-link.current {
  color: #404bbf;
}

.header-link.current::after {
  content: "";

  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  bottom: -1px;

  background-color: #404bbf;
  border-radius: 2px;
}

/* HERO */
.hero {
  background: #2e2f42;
  padding: 72px 0;
  text-align: center;
  background-image:
    linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/Dark-bg-mob-1x.jpg);
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  /* color: #fff;
  font-size: 56px;
  margin-bottom: 48px;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto; */
  font-size: 36px;
  line-height: 1.1;
  color: #fff;

  max-width: 216px;
  margin: 0 auto 72px;
  line-height: 1.07;
  margin-bottom: 36px;
}

.hero-button {
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  background: #4d5ae5;
  color: #fff;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/* FEATURES */
.features-list {
  /* display: flex;
  gap: 24px; */
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.features-item {
  /* width: calc((100% - 72px) / 4); */
  width: 100%;
}

.features-text {
  margin-top: 8px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

.features-icon {
  /* height: 112px;
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 8px; */
  display: none;
}

.features-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
}

/* TEAM */
.team {
  background: #f4f4fd;
}

.team-title {
  text-align: center;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
  align-items: center;
}

.team-item {
  background: #fff;
  border-radius: 0 0 4px 4px;
  overflow: hidden;
  box-shadow:
    0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
  max-width: 264px;
  width: 100%;
}

.team-content {
  padding: 32px 16px;
  text-align: center;
}

.team-text {
  margin-top: 8px;
}

.team-social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.team-social-link {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #f4f4fd;
}
.team-social-link:focus,
.team-social-link:hover {
  background-color: #404bbf;
}

/* PORTFOLIO */
.portfolio-title {
  text-align: center;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.portfolio-item {
  width: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover {
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-text {
  margin-top: 8px;
}

.portfolio-image-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: #4d5ae5;
  color: #f4f4fd;

  padding: 40px 32px;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-size: 16px;
}
.portfolio-item:hover .portfolio-overlay {
  transform: translateY(0);
}

.portfolio-item:focus-within .portfolio-overlay {
  transform: translateY(0);
}

/* FOOTER */
.page-footer {
  background: #2e2f42;
  padding: 100px 0;
}

.footer-text {
  color: #f4f4fd;
  max-width: 264px;
  margin-top: 16px;
}

.footer-social-text {
  color: #fff;
  font-weight: 500;
}

.footer-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 72px;
}

/* .footer-social {
  margin-left: 120px;
}

.footer-subscribe {
  margin-left: auto;
}

.footer-info {
  margin-right: 120px;
} */

.footer-info,
.footer-social,
.footer-subscribe {
  margin: 0;
  text-align: center;
}

.footer-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-social-list {
  display: flex;
  gap: 16px;
  margin-top: 16px;
}
.footer-social-link:focus,
.footer-social-link:hover {
  background-color: #31d0aa;
}

.footer-social-link {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #f4f4fd;
}

.footer-social-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}

.footer-subscribe-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  font-weight: 500;
}

.footer-input {
  transition: border-color 250ms ease;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  width: 288px;
  height: 40px;
  padding-left: 16px;
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  border-radius: 4px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-button {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 8px 24px;
  background-color: #4d5ae5;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms ease;
  border: none;
  margin: 0 auto;
}
.footer-button:hover,
.footer-button:focus {
  background-color: #31d0aa;
}

.footer-input::placeholder {
  color: #ffffff;
}

.footer-input:focus {
  border-color: #31d0aa;
  outline: transparent;
}
/* VISUALLY HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.backdrop {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: 250ms;
  position: fixed;
  inset: 0;
  background-color: rgba(46, 47, 66, 0.4);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  padding: 72px 24px 24px 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 408px;
  width: 100%;
  min-height: 584px;
  border-radius: 4px;

  box-shadow:
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
}

.modal-close-button {
  position: absolute;
  border-radius: 100%;
  width: 24px;
  height: 24px;
  top: 24px;
  right: 24px;
}

.modal-form {
  border-radius: 4px;
  margin: 0 auto;
  width: 100%;
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-input {
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  height: 40px;
  margin-top: 4px;
  padding-left: 38px;
}

.modal-input:focus {
  border-color: #4d5ae5;
  outline: transparent;
}

.modal-label {
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: inline-block;
}

.modal-icon {
  fill: #2e2f42;
  stroke: none;
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms ease;
}

.modal-field-wrapper {
  position: relative;
}

.modal-textarea {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  resize: none;
  padding: 8px 16px;
}

.modal-text {
  line-height: 1.33333;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.modal-field {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-button {
  margin-left: auto;
  margin-right: auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  border: none;
  display: block;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  cursor: pointer;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover,
.modal-button:focus {
  background: #404bbf;
}

.modal-close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid #0000001a;
  cursor: pointer;
  transition: 250ms;
}

.modal-close-button:hover,
.modal-close-button:focus {
  background-color: #404bbf;
}

.modal-close-button:hover .modal-icon,
.modal-close-button:focus .modal-icon {
  fill: #fff;
}

.policy-label {
  display: flex;
  align-items: center;
  gap: 8px;
}

.policy-label a {
  text-decoration: underline;
  color: #4d5ae5;
}

.custom-checkbox {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.custom-checkbox svg {
  opacity: 0;
}

#user-policy:checked + .policy-label .custom-checkbox svg {
  opacity: 1;
  fill: #f4f4fd;
}
.modal-field-wrapper:focus-within .modal-icon {
  fill: #4d5ae5;
  stroke: #4d5ae5;
}

#user-policy:checked + .policy-label .custom-checkbox {
  background-color: #404bbf;
  border: none;
}
#user-policy {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.modal-input,
.modal-textarea {
  transition: border-color 250ms ease;
}

.modal-field.comment-field {
  margin-bottom: 16px;
}

.modal-field.policy-field {
  margin-bottom: 24px;
}

.menu-btn {
  border: none;
  background-color: transparent;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* -----------Mobile-menu-------------  */

.mobile-menu {
  position: fixed;
  inset: 0;

  background-color: #fff;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: 250ms;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  height: 100%;
  padding: 72px 24px 40px;

  display: flex;
  flex-direction: column;
}

.mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-menu-link {
  font-size: 36px;
  font-weight: 700;
  color: #2e2f42;
}

.mobile-menu-link.current {
  color: #404bbf;
}

.mobile-menu-bottom {
  margin-top: auto;
}

.mobile-menu-address ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.mobile-contact {
  font-size: 20px;
  font-weight: 500;
  color: #434455;
}

.mobile-contact.current {
  color: #4d5ae5;
}
.mobile-social-list {
  display: flex;
  gap: 40px;
  margin-top: 48px;
}
@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }

  .header-list {
    display: flex;
    gap: 40px;
  }

  .contacts {
    display: block;
  }
}

@media screen and (min-resolution: 192dpi) {
  .hero {
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/Dark-bg-mob-2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    padding: 112px 0;

    background-image:
      linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/Dark-bg-tab-1x.jpg);
  }

  .hero-title {
    font-size: 56px;
    max-width: 496px;
  }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .hero {
    background-image:
      linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/Dark-bg-tab-2x.jpg);
  }
}

@media screen and (min-width: 1158px) {
  .hero {
    max-width: 1440px;
    padding: 188px 0;

    background-image:
      linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/Dark-bg-desk-1x.jpg);
  }
}

@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
  .hero {
    background-image:
      linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/Dark-bg-desk-2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .features-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
  .features-item {
    width: calc((100% - 24px) / 2);
  }

  .features-subtitle {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .features-list {
    gap: 24px;
  }

  .features-item {
    width: calc((100% - 72px) / 4);
  }

  .features-subtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }

  .features-text {
    font-weight: 400;
  }

  .features-icon {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .team .container {
    max-width: 584px;
  }
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px 24px;
  }

  .team-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .team .container {
    max-width: 1158px;
  }

  .team-list {
    flex-wrap: nowrap;
    gap: 24px;
  }

  .team-item {
    width: calc((100% - 72px) / 4);
  }
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-list {
    gap: 48px 24px;
  }

  .portfolio-item {
    width: calc((100% - 48px) / 3);
  }
}

@media screen and (min-width: 768px) {
  .page-footer .container {
    max-width: 584px;
  }

  .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 72px 24px;
  }

  .footer-info,
  .footer-social {
    text-align: left;
  }

  .footer-subscribe {
    text-align: left;
  }

  .footer-form {
    flex-direction: row;
    gap: 24px;
  }

  .footer-input {
    width: 264px;
  }
}

@media screen and (min-width: 1158px) {
  .page-footer .container {
    max-width: 1158px;
  }

  .footer-container {
    flex-wrap: nowrap;
    gap: 0;
  }

  .footer-info {
    margin-right: 120px;
  }

  .footer-social {
    margin-right: 80px;
  }

  .footer-subscribe {
    margin-left: auto;
  }
}

@media screen and (min-width: 1158px) {
  .section {
    padding: 120px 0;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

@media (min-width: 768px) {
  .contacts-link {
    font-size: 12px;
    line-height: 1.16;
  }
}

@media (min-width: 1158px) {
  .contacts-link {
    font-size: 16px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}
